[submodule "uniswapV3/lib/forge-std"]
	path = uniswapV3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std

[submodule "uniswapV3/lib/openzeppelin-contracts"]
	path = uniswapV3/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "uniswapV3/lib/abdk-libraries-solidity"]
	path = uniswapV3/lib/abdk-libraries-solidity
	url = https://github.com/abdk-consulting/abdk-libraries-solidity
[submodule "uniswapV3/lib/prb-math"]
	path = uniswapV3/lib/prb-math
	url = https://github.com/paulrberg/prb-math
